// colors

$main-black: rgb(0, 0, 0);
$main-white: white;
$dark-blue: rgb(20, 20, 218);
$main-purple: rgb(207, 30, 207);
$main-red: rgb(230, 2, 2);
$light-blue: rgb(18, 201, 247);

//size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
